.divContent {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 30px;
}

.projectTitle {
    font-family: 'Raleway', sans-serif; 
    font-size: 21px;
    font-weight: 800;
}

.projectDescription {
    font-family: 'Raleway', sans-serif; 
    font-size: 17px;
}

.projectLanguages {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.firstLanguage, .secondLanguage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 12px;
    background-color: var(--branco);
    color: var(--preto);
    border-radius: 15px;
    text-align: center;
    width: 80px;
    height: 25px;
    cursor: pointer;
}

.divImg {
    width: 400px;
    height: 200px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.divImg:hover {
    transform: scale(1.1);
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 700px) and (min-height: 1000px){
    
    .divContent {
        height: calc(100vh - 270px);
    }

    .divImg {
        width: 300px;
        height: 150px;
    }

    .projectTitle {
        font-size: 18px;
    }
    
    .projectDescription {
        font-size: 16px;
    }
    
    .projectLanguages {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .text{
        gap: 15px;
    }
}

@media (max-width: 600px){
    .img, .divImg {
        display: none;
    }

    .divContent {
        height: calc(100vh - 135px);
    }
    
    .projectTitle, .projectDescription {
        text-align: center;
    }

    .projectLanguages {
        justify-content: center;
    }
}

@media (max-height: 1000px){
    .divContent {
        padding-top: 20px;
        height: calc(100vh - 180px);
    }

    .divImg {
        width: 250px;
        height: 150px;
        margin-left: 30px;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 200px;
    }

    .projectTitle {
        font-size: 18px;
    }
    
    .projectDescription {
        font-size: 16px;
    }
}