
.container {
    min-height: 100svh;
    max-width: 100vw;
    padding: 90px 190px;
    color: var(--preto);
}

@media screen and (max-width: 1000px){
    .container {
        padding: 90px 60px;
    }
}