.divContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.primaryText {
  font-family: 'Maven Pro', sans-serif;
  font-size: 42px;
  color: var(--branco);
  margin-bottom: 15px;
  text-align: center;
}

.secondaryText {
  margin-bottom: 75px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  opacity: 50%;
  height: 20px;
  text-align: center;
  border-right: 2px solid white;
  display: block;
  animation: blinkTextCursor 800ms steps(44) infinite normal;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 600px){
  .primaryText{
      font-size: 32px;
  }
}

@media (max-width: 300px){
  .primaryText{
      font-size: 26px;
  }

  .secondaryText {
    font-size: 13px;
  }
}

