
.projectGroupContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.firstLine, .secondLine {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media screen and (max-width: 1000px) {
    .projectGroupContainer {
        display: flex;
        flex-direction: column;
    }
}

